hr{
    border: 6px solid #33a95b
}

a{
    font-size: medium;
    text-decoration: none;
    color: #33a95b;
}

.cabeçalho{
    background-color: #33a95b;
    padding: 15px
}


#menu{
    text-align: center;
    font-family: Verdana;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
    text-transform: uppercase;
    color: #747271;
}

.imgHome{
    width: 30%;
}

.rodape{
    text-align: center;
    font-family: verdana;
    color: gray;
    margin-top: 10%;
}

.imgRodape{
    width: 3%;
    margin-right: 6px;
}

.linhaRodape{
    border: 1px solid #33a95b;
}

